.App {
  text-align: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  padding: 20px;
  transition: background-color 0.3s ease;
}

.card {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.App.light {
  background-color: #f0f0f0;
  color: #333;
}

.App.dark {
  background-color: #333;
  color: #f0f0f0;
}

.App-header {
  padding: 20px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}